<div *ngIf="product.title" class="card m-3">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{product.title}}">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency: 'USD': true}}</p>
    </div>
    <div class="card-footer p-0" *ngIf="showActions && shoppingCart">
        <button
            *ngIf="shoppingCart.getQuantity(product) === 0 else updateQuantity"
            (click)="addToCart()"
            class="btn btn-secondary btn-block text-white">
            Add to Cart
        </button>
        <ng-template #updateQuantity>
            <product-quantity
                [product]="product"
                [shoppingCart]="shoppingCart"
            ></product-quantity>
        </ng-template>
    </div>
</div>
