<div class="row">
    <div class="col-md-6">
        <form #f=ngForm (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="title">
                    Title
                </label>
                <input #title='ngModel' [(ngModel)]="product.title" name="title" id="title" type="text"
                       class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label for="price">
                    Price
                </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input #price='ngModel' [(ngModel)]="product.price" name="price" id="price" type="text"
                           class="form-control"
                           aria-label="Amount (to the nearest dollar)" required [min]="0">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">
                    Category
                </label>
                <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category"
                        class="form-control">
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.$key">
                        {{c.name}}
                    </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="category.invalid || category.value === '' && (category.dirty || category.touched)">
                    Category is required.
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">
                    Image URL
                </label>
                <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text"
                       class="form-control"
                       required url>
            </div>
            <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                <div *ngIf="imageUrl.errors.url">Please enter valid URL.</div>
            </div>
            <button class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <app-product-card
            [product]="product"
            [showActions]="false"
        ></app-product-card>
    </div>
</div>

