<div class="row no-gutters">
    <div class="col-2">
        <button class="btn btn-secondary btn-block"
                (click)="removeFromCart()"
        >-</button>
    </div>
    <div class="col d-flex">
        <div class="m-auto">{{shoppingCart.getQuantity(product)}} in cart</div>
    </div>
    <div class="col-2">
        <button
            class="btn btn-secondary btn-block pointer-event"
            (click)="addToCart()"
        >+</button>
    </div>
</div>
